###### Set up the database

In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/milan/.local/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /home/milan/.local/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Establish a connection 
import mysql.connector as connector
# Establish a connection
print("Establishing database connection...")
connection = connector.connect(user="final_test", password="Coursera~2023")
print("Connection established.")

Establishing database connection...
Connection established.

In [4]:
# Create a cursor
cursor = connection.cursor()
print("Cursor created.")

Cursor created.

In [ ]:
# Drop the database if it exists so I can rerun code.
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db")

# Create the database
cursor.execute("CREATE DATABASE little_lemon_db")

# Set the database for use
cursor.execute("USE little_lemon_db")

###### Create tables

In [ ]:
# MenuItems table
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [ ]:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

In [ ]:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [ ]:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [ ]:
create_employees_table="""
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

In [ ]:
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("The MenuItems table has been created.")

# Create Menu table
cursor.execute(create_menu_table)
print("The Menu has been created.")

# Create Bookings table
cursor.execute(create_booking_table)
print("The Bookings table has been created.")

# Create Orders table
cursor.execute(create_orders_table)
print("The Orders table has been created.")

# Create Employees table
cursor.execute(create_employees_table)
print("The Employees table has been created.")

In [ ]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees="""
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [ ]:
#Populate the tables using execute module on the cursor.
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()
print("Data inserted into 'MenuItems' table.")

# Populate Menu table
cursor.execute(insert_menu)
connection.commit()
print("Data inserted into 'Menu' table.")

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()
print("Data inserted into 'Bookings' table.")

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()
print("Data inserted into 'Orders' table.")

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()
print("Data inserted into 'Employees' table.")

##### Implement and query stored procedures

In [ ]:
#Import MySQLConnectionPool
from mysql.connector.pooling import MySQLConnectionPool
#Import Error
from mysql.connector import Error

dbconfig = {
    "database": "little_lemon_db",
    "user": "final_test",
    "password": "Coursera~2023"
}

#Create a pool named pool_a with two connections. 
#Use a try-except block to handle any possible errors.
#Code can be found in previously done labs!
try:
    print("Creating connection pool...")
    pool = MySQLConnectionPool(pool_name="pool_a",
                               pool_size=2, #set to 2 because of task. Default is 5.
                               **dbconfig)
    print("The connection pool has been created. It is named:", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [ ]:
#Obtain a connection from pool_a and create a cursor object to communicate with the database.
connection_1 = pool.get_connection()
cursor = connection_1.cursor()

##### Implement a stored procedure called PeakHours

In [ ]:
#droping the procedure in case it exists
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
#Write a SQL CREATE PROCEDURE query for PeakHours
s_p_peakhours_query="""
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT 
    HOUR(BookingSlot) AS booked_at,
    COUNT(HOUR(BookingSlot)) AS number_of_bookings
    FROM Bookings
    GROUP BY booked_at
    ORDER BY number_of_bookings DESC;
END
"""
# Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(s_p_peakhours_query)

In [ ]:
#Invoke callproc to call the stored procedure.
cursor.callproc("PeakHours")
results = next(cursor.stored_results() )
#Fetch the results in a variable called dataset.
dataset = results.fetchall()
#Extract the names of the columns.
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]
#Print the names of the columns.
print(columns)
#Print the sorted data using for loop.
for data in dataset:
    print(data)

#### Implement a stored procedure GuestStatus

In [ ]:
#Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.
#Step two: Combine the guest’s first and last name from the booking column using CONCAT. 
#Step three: Use CASE to implement the following statuses for each guest’s order:
s_p_gueststatus_query="""
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 

    Bookings.BookingID AS OrderNumber, 
    CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
    Role AS Employee, 
    CASE 
        WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
        WHEN Role = 'Head Chef' THEN "Ready to serve"
        WHEN Role = 'Assistant Chef' THEN "Preparing order"
        WHEN Role = 'Head Waiter' THEN "Order served"
    END AS Order_status
    FROM Bookings 
        LEFT JOIN 
        Employees 
        ON Employees.EmployeeID=Bookings.EmployeeID;
END
"""
#Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(s_p_gueststatus_query)

In [ ]:
#Invoke callproc to call the stored procedure.
cursor.callproc("GuestStatus")
results = next(cursor.stored_results())
#Fetch the results in a variable called dataset.
dataset = results.fetchall()

# Extract the names of the columns.
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]
#Print the names of the columns.
print(columns)
#Print the sorted data using for loop.
for data in dataset:
    print(data)
#Close the connection to return it back to the pool.    
connection.close()

###### LITTLE LEMON ANALYSIS AND SALES REPORT

In [ ]:
#To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.
from mysql.connector.pooling import MySQLConnectionPool
#To find the information on the error, import the Error class from MySQL Connector/Python.
from mysql.connector import Error

#Define your database configurations as a Python dictionary object called dbconfig.
dbconfig = {
    "database":"little_lemon_db",
    "user" : "final_test",
    "password" : "Coursera~2023"
}

#Establish a connection pool [pool_name = pool_b] with two connections.
#Implement error handling using a try-except block in case the connection fails. 
try:
    poolConnect = MySQLConnectionPool(pool_name = "pool_b",pool_size = 2,**dbconfig)
    print("The connection pool is created with the name: ",poolConnect.pool_name)
    print("The pool size is:",poolConnect.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

In [ ]:
#Three guests are trying to book dinner slots simultaneously. 
#Get the connections from pool_b and insert the following data in the Bookings table:
#guest_no1
conn1 = poolConnect.get_connection()
cursor1 = conn1.cursor()
booking1 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (8,'Anees','Java','18:00',6);"""
cursor1.execute(booking1)
conn1.commit()

In [ ]:
#guest_no2
conn2 = poolConnect.get_connection()
cursor2 = conn2.cursor()
booking2 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (5, 'Bald','Vin','19:00',6);"""
cursor2.execute(booking2)
conn2.commit()

In [ ]:
try:
    conn3 = poolConnect.get_connection()
#pool size of 2 was created so we need to add one more in case we exaust all connections
except connector.errors.PoolError:
    print("Connection pool exhausted. Adding a new connection to the pool.")
    connection=connector.connect(user="final_test",password="Coursera~2023")
    poolConnect.add_connection(cnx=connection)
    conn3 = poolConnect.get_connection()
    print("Additional connection has been added to the pool.")

In [ ]:
#guest_no3
cursor3=conn3.cursor()
booking3="""INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (12, 'Jay','Kon','19:30',6);"""
cursor3.execute(booking3)
conn3.commit()

In [ ]:
#Return all the connections back to the pool.
connection_names = ["conn1", "conn2", "conn3"]
from mysql.connector import Error
for i, connection in enumerate([conn1, conn2, conn3]):
    try:
        connection.close()
        print(f"Connection {connection_names[i]} is returned to the pool")
    except Error as er:
        print("The pool size is two. Only two connections can be returned.")
        print("Error message:", er.msg)

In [ ]:
#Create a report containing the following information:
#The name and EmployeeID of the Little Lemon manager.
query_lemon_manager = """
SELECT 
    Name, EmployeeID 
FROM Employees 
    WHERE Role = 'Manager'
"""
cursor.execute(query_lemon_manager)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

In [ ]:
#The name and role of the employee who receives the highest salary.
query_highest_salary_employee = """
SELECT 
    Name, EmployeeID 
FROM Employees ORDER BY 
    Annual_Salary DESC LIMIT 1
"""
cursor.execute(query_highest_salary_employee)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

In [ ]:
#The number of guests booked between 18:00 and 20:00.
query_booked_at = """
SELECT 
    COUNT(BookingID) bookings_count
FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""
cursor.execute(query_booked_at)
results = cursor.fetchall()

# Extract the count from the result
bookings_count = results[0][0]

# Print the formatted message
print(f'The number of bookings between 18:00 and 20:00 is {bookings_count}.')

In [ ]:
#The full name and BookingID of all guests waiting to be
#seated with the receptionist in sorted order with respect to their BookingSlot.

cursor.execute("""
SELECT 
    Bookings.BookingID AS BookingID,
    CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName
FROM Bookings
LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID
WHERE Employees.Role = 'Receptionist'
ORDER BY BookingSlot;
""")
print("The following guests are waiting to be seated with the receptionist:")
results = cursor.fetchall()

if len(results) == 0:
    print("No guests are currently waiting.")

else:
    for result in results:
        booking_id = result[0]
        full_name = result[1]
        print(f"Booking ID: {booking_id}, Full Name: {full_name}")

In [ ]:
# Create a stored procedure named BasicSalesReport
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

s_p_query_bassic_sales_report="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) AS Total,
        AVG(BillAmount) AS Average,
        MIN(BillAmount) AS Min,
        MAX(BillAmount) AS Max
    FROM Orders;
END
"""
cursor.execute(s_p_query_bassic_sales_report)
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

print("Today's sales report:")
for result in results:
    print(f"\tTotal Sales: ${result[0]:,.2f}")
    print(f"\tAverage Sale: ${result[1]:,.2f}")
    print(f"\tMinimum Bill Paid: ${result[2]:,.2f}")
    print(f"\tMaximum Bill Paid: ${result[3]:,.2f}")

In [ ]:
# Drop the procedure if it exists
cursor.execute("DROP PROCEDURE IF EXISTS UpcomingBookings;")

# Create the stored procedure
s_p_query_Next_Three_Bookings = """
CREATE PROCEDURE UpcomingBookings()
BEGIN
    SELECT 
        CONCAT("[BookingSlot] ", b.BookingSlot) AS BookingSlot,
        CONCAT("[Guest_name] ", CONCAT(b.GuestFirstName, " ", b.GuestLastName)) AS Guest_name,
        CONCAT("[Assigned to: ", CONCAT(e.Name, " [", e.Role, "]]")) AS Assign_to
    FROM Bookings b
    INNER JOIN Employees e ON e.EmployeeID = b.EmployeeID
    ORDER BY b.BookingID ASC
    LIMIT 3;
END
"""
cursor.execute(s_p_query_Next_Three_Bookings)

# Call the stored procedure
cursor.callproc("UpcomingBookings")

# Retrieve and display the results
results = next(cursor.stored_results())
results = results.fetchall()

print("Upcoming Bookings:")
for result in results:
    print(result[0])
    print(result[1])
    print(result[2])
    print()  # Add an empty line between entries for clarity

# Close the connection safely without raising PoolError
try:
    if connection:
        connection.close()
except connector.errors.PoolError:
    pass  # Ignore PoolError without raising it